body {
    margin: 0px;
    background-color: #f8f9fd;
}

.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: auto;
    min-height: 90vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.box {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    height: auto;
    min-height: 30rem;
    width: 60vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}