.homeu0 {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  height: 20rem;
  width: 60vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.icon {
  padding-right: 10px;
}

.divrow {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  width: 180px;
  justify-content: stretch;
}

ul:before{
  content:attr(aria-label);
  font-size:120%;
  font-weight:bold;
  margin-left:-15px;
}